<div class="items-sell-contents">
  <%= render partial: "header" %>

  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を編集</h2>
    <%= form_with model: @item, local: true do |f| %>

      <%= render partial: "form", locals: { f: f } %>
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', item_path(@item), class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>

  <%# JavaScriptにFEE_RATEを渡すためのhiddenなinput要素 %>
  <%= f.hidden_field :fee_rate, value: Constants::FEE_RATE %>
  <% end %>

  <%= render partial: "footer" %>
</div>

<%= javascript_include_tag "items.js" %>